<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Elector</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="start" (click)="saveFormTmp()" expand="block" fill="solid" shape="round" color="secondary">
        <ion-icon slot="start" name="information-circle"></ion-icon>
        TMP
      </ion-button>
      <ion-button slot="end" (click)="saveForm()" fill="solid">
        <ion-icon slot="start" name="save"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="selectedSegment" scrollable="true">
    <ion-segment-button *ngFor="let item of segmentList;let i = index" [value]="item.title"
      (click)="_segmentSelected(item,i)">
      <ion-label>{{item.title}}</ion-label>
      <ion-icon name="{{item.icon}}"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <input type="hidden" formControlName="campananiaID" />
    <ion-grid fixed *ngIf="grids[0].value">
      <ion-row>
        <ion-col size="6" size-md="6" size-lg="6" size-xg="6">
          <ion-item>
            <ion-label position="floating">Cédula</ion-label>
            <ion-input type="text" formControlName="cedula"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Primer nombre</ion-label>
            <ion-input type="text" formControlName="primerNombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Segundo nombre</ion-label>
            <ion-input type="text" formControlName="segundoNombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Apellido paterno</ion-label>
            <ion-input type="text" formControlName="apellidoPaterno"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Apellido materno</ion-label>
            <ion-input type="text" formControlName="apellidoMaterno"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Apellido casado</ion-label>
            <ion-input type="text" formControlName="apellidoCasado"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Celular 1</ion-label>
            <ion-input type="text" formControlName="celular1"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Celular 2</ion-label>
            <ion-input type="text" formControlName="celular2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Télefono</ion-label>
            <ion-input type="number" formControlName="telefono"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" formControlName="correo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Sexo</ion-label>
            <ion-select placeholder="Seleccione" formControlName="sexoID">
              <ion-select-option *ngFor="let sexo of sexos" value="{{sexo.id}}">{{sexo.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Edad</ion-label>
            <ion-input type="number" formControlName="edad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Fecha de nacimiento</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" value="2012-12-15T13:47:20.789"
              formControlName="fechaNacimiento"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed *ngIf="grids[1].value">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Provincia</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="provinciaID">
              <ion-select-option value='null' selected></ion-select-option>
              <ion-select-option *ngFor="let provincia of provincias"
                value="{{provincia.id}}">{{provincia.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Distrito</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="distritoID">
              <ion-select-option *ngFor="let distrito of distritos"
                value="{{distrito.id}}">{{distrito.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Corregimiento</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="corregimientoID">
              <ion-select-option *ngFor="let corregimiento of corregimientos"
                value="{{corregimiento.id}}">{{corregimiento.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Comunidad</ion-label>
            <ion-input type="text" formControlName="comunidad"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Barrio</ion-label>
            <ion-input type="text" formControlName="barrio"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Barriada</ion-label>
            <ion-input type="text" formControlName="barriada"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Sector</ion-label>
            <ion-input placeholder="Seleccione" formControlName="sector"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Edificio</ion-label>
            <ion-input type="text" formControlName="edificio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">No Casa o Apto.</ion-label>
            <ion-input type="number" formControlName="numCasaApto"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Otras referencias</ion-label>
            <ion-input type="text" formControlName="otrasReferencias"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">Ubicación</ion-label>
            <ion-input type="text" formControlName="ubicacion"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="goToLocate()">
            <ion-icon slot="icon-only" name="locate"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-label position="floating">Centro votación</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="centroVotacionID">
              <ion-select-option *ngFor="let centroVotacion of centrosVotacion"
                value="{{centroVotacion.id}}">{{centroVotacion.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Mesa</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="mesaId">
              <ion-select-option *ngFor="let mesa of mesas" value="{{mesa.id}}">{{mesa.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed *ngIf="grids[2].value">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Estado civil</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="estadoCivilID">
              <ion-select-option *ngFor="let estadoCivil of estadosCivil"
                value="{{estadoCivil.id}}">{{estadoCivil.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Conyugue o Pareja</ion-label>
            <ion-input type="text" formControlName="conyugePareja"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Cédula de pareja</ion-label>
            <ion-input type="text" formControlName="cedulaPareja"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Amigo</ion-label>
            <ion-input type="text" formControlName="amigo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Celular amigo</ion-label>
            <ion-input type="number" formControlName="celularAmigo"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Profesiones</ion-label>

            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="profesionID">
              <ion-select-option *ngFor="let profesione of profesiones"
                value="{{profesione.id}}">{{profesione.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Nivel Educativo</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="nivelEducativoID">
              <ion-select-option *ngFor="let nivelEducativo of nivelesEducativo"
                value="{{nivelEducativo.id}}">{{nivelEducativo.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Situación Laboral</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="situacionLaboralID">
              <ion-select-option *ngFor="let situacionLaboral of situacionesLaborales"
                value="{{situacionLaboral.id}}">{{situacionLaboral.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Lugar de trabajo</ion-label>
            <ion-input type="text" formControlName="lugarTrabajo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- AGREGAR HIJOS -->
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-button type="button" (click)="addHijo()">
              <ion-icon slot="start" name="add"></ion-icon>
              Agregar hijo
            </ion-button>
            <br />
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div formArrayName="hijos">
            <div *ngFor="let quantity of hijos().controls; let i=index" [formGroupName]="i">
              <ion-row>
                <ion-col size="12">
                  <ion-item-divider color="secondary">
                    <ion-label> Hijo # {{i + 1}} </ion-label>
                  </ion-item-divider>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-xs="6" size-sm="6" size-md="5" size-lg="5" size-xl="3">
                  <ion-item>
                    <ion-label position="floating">Nombre completo</ion-label>
                    <ion-input formControlName="nombreCompleto" type="text" placeholder="Carlos Magno"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-xs="6" size-sm="6" size-md="3" size-lg="3" size-xl="3">
                  <ion-item>
                    <ion-label position="floating">cedula</ion-label>
                    <!-- <ion-input formControlName="parentesco" type="text" placeholder="Hermano"></ion-input> -->
                    <ion-input type="text" formControlName="cedula" placeholder="Awesome Input"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size="12" size-xs="6" size-sm="6" size-md="2" size-lg="2" size-xl="3">
                  <ion-item>
                    <ion-label position="floating">Edad</ion-label>
                    <ion-input formControlName="edad" type="number" placeholder="edad"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12" size-xs="6" size-sm="6" size-md="2" size-lg="2" size-xl="3" button
                  (click)="removeHijo(i)">
                  <ion-item lines="none">
                    <ion-button type="button" color="danger" class="ion-margin" expand="block">
                      <ion-icon name="remove-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed *ngIf="grids[3].value">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Situación vivienda</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="situacionViviendaID">
              <ion-select-option *ngFor="let situacionVivienda of situacionesVivienda"
                value="{{situacionVivienda.id}}">{{situacionVivienda.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Ingreso familiar aproximado</ion-label>
            <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Seleccione"
              formControlName="ingresoAproximadoID">
              <ion-select-option *ngFor="let ingresoAproximado of ingresosAproximado"
                value="{{ingresoAproximado.id}}">{{ingresoAproximado.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Pertenece a partido</ion-label>
            <ion-select placeholder="Seleccione" formControlName="pertenecePartidoID">
              <ion-select-option *ngFor="let pertenecePartido of pertenecenPartido"
                value="{{pertenecePartido.id}}">{{pertenecePartido.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Partido al que pertenece</ion-label>
            <ion-select placeholder="Seleccione" formControlName="partidoID">
              <ion-select-option *ngFor="let partidoPertenece of partidosPertenecen"
                value="{{partidoPertenece.id}}">{{partidoPertenece.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Religión</ion-label>
            <ion-select placeholder="Seleccione" formControlName="religionID">
              <ion-select-option *ngFor="let religion of religiones"
                value="{{religion.id}}">{{religion.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Otra</ion-label>
            <ion-input type="text" placeholder="Otra religión"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid fixed *ngIf="grids[4].value">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">WhatApp</ion-label>
            <ion-input type="text" placeholder="whatapp"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Facebook</ion-label>
            <ion-input type="text" placeholder="facebook"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Instagram</ion-label>
            <ion-input type="text" placeholder="instagram"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Twiter</ion-label>
            <ion-input type="text" placeholder="twiter"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Youtube</ion-label>
            <ion-input type="text" placeholder="youtube"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Tik Tok</ion-label>
            <ion-input type="text" placeholder="tiktok"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Teleram</ion-label>
            <ion-input type="text" placeholder="telegram"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Snapchapk</ion-label>
            <ion-input type="text" placeholder="snapchapt"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Otra</ion-label>
            <ion-input type="text" placeholder="otra"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button color="light">
        <ion-icon name="share"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary">
          <ion-icon name="logo-vimeo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button color="dark">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button color="secondary">
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button color="light">
          <ion-icon name="logo-google"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
  </form>
</ion-content>