<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Historico seguimiento</ion-title>
    <ion-button slot="end" (click)="newSeguimiento()">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #electorNoEncontrado>
    <app-lista-vacia></app-lista-vacia>
  </ng-template>

  <ng-template ngFor let-hs let-i="index" [ngForOf]="historicosSeguimiento"
    *ngIf="historicosSeguimientoCantidad !== 0 else electorNoEncontrado">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{hs.tipoSeguimientoId}}</ion-card-title>
        <ion-card-subtitle>Id: {{i}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content> {{hs.observacion}} </ion-card-content>
    </ion-card>
  </ng-template>


</ion-content>