.small-text {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: white !important;
  text-decoration: none;
}

ion-item {
  --background: transparent !important;
  margin-bottom: 5px;
}

ion-grid {
  --ion-grid-width-xs: 100%;
  --ion-grid-width-sm: 540px;
  --ion-grid-width-md: 540px;
  --ion-grid-width-lg: 540px;
  --ion-grid-width-xl: 540px;
  ion-row {
    margin-bottom: 10px;
  }
}

.rowButton {
  margin-top: 50px;
}

#imgTitle {
  margin-top: 10%;
  img {
    height: 100px;
  }
}

ion-input {
  background-color: white !important;
  border-radius: 8px;
  --padding-bottom: 15px !important;
  --padding-end: 15px !important;
  --padding-start: 15px !important;
  --padding-top: 15px !important;
  border-color: yellow;
  --color: #13558b;
  box-shadow: 0px 0px 0px 3px #ecba2a;
}

ion-button {
  --border-radius: 15px;
  height: 55px;
}
